.input {
  margin: 0 0 1.5em;

  &__label {
    margin-right: 1em;
  }

  &__input {
    border: 2px solid;
    border-color: var(--color-white);
    border-radius: 2px;
    margin-right: 1.5em;

    &--error {
      border-color: var(--color-red);
      color: var(--color-red);
    }
  }

  &__error {
    color: var(--color-red);
  }
}