@import './assets/styles/variables.pcss';

body {
  margin: 0;
  font-family: var(--font-family-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fs-sm);
}

code {
  font-family: var(--font-family-code);
}

h1 {
  font-size: var(--fs-lg);
}
